---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import WidgetCssPreview from "../components/reactJS/widgetCssPreview";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import Contact from "../components/Contact.astro";
import MenuLinkNav from "../components/menuLinkNav.astro";

const projects = (await getCollection("widgetCss")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
import dataUser from "../data/User.json";
interface Props {
  LayoutTitle?: string | undefined;
  descriptionLayout?: string | undefined;
}
const {
  LayoutTitle = `My Work | ${dataUser.firstName} ${dataUser.lastName}`,
  descriptionLayout = `Learn about ${dataUser.firstName} ${dataUser.lastName}'s most recent projects`,
} = Astro.props;
---

<Layout title={LayoutTitle} description={descriptionLayout}>
  <MenuLinkNav namepage="work" />
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My widget Css"
        tagline="See my most recent projects below to get an idea of my past experience."
        align="start"
      />
      <Grid variant="small">
        {
          projects.map((project) => (
            <li>
              <WidgetCssPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
    <div class="wrapper stack gap-20 lg:gap-48">
      <Contact />
    </div>
  </div>
</Layout>
