---
import Icon from './Icon.astro';
import type { iconPaths } from './IconPaths';
import Icone1 from "../assets/icone/icons8-home-50.png";
import Icone2 from "../assets/icone/icons8-about.svg";
import Icone3 from "../assets/icone/icons8-development-skill-50.png";
import Icone4 from "../assets/icone/icons8-development-service-50.png";
import Icone5 from "../assets/icone/icons8-maintenance-50.png";
import Icone6 from "../assets/icone/icons8-contact-50.png";



/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'Home', href: '/', icon: 'house-logo' },
];
const iconImgLinks: { label: string; href: string; }[] = [
	{ label: `${Icone1.src}`, href: '/' },
  { label: `${Icone5.src}`, href: '/work/' },
	{ label: `${Icone2.src}`, href: '/about/' },
  // { label: `${Icone3.src}`, href: '/work/' },
	// { label: `${Icone4.src}`, href: '/work/' },
	// { label: `${Icone6.src}`, href: '#contact' },
];
---

<div class="menu-link-nav"> 
  {
		iconImgLinks.map(({ href, label }) => (
			<a 
      aria-current={Astro.url.pathname === href}
      href={href} class:list={[
								'social',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}>
				<span class="sr-only">{label}</span>
				<img width="15" height="15"  src={label} alt="" />
			</a>
		))
	}
          </div> 

<style>
	/* .menu-link-nav{
    display: none;
   } */
   
   .menu-link-nav{
    background: radial-gradient(var(--gray-900),var(--gray-800) 150%);
    box-shadow: var(--shadow-md);
    width: max-content;
    display: block;
    padding: 0.5rem 0.5625rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 999rem;
    backdrop-filter: blur(15px);
    line-height: 1.2;
   }

   .menu-link-nav a{
    padding: 0.5rem 1rem;
    border-radius: 999rem;
    display: flex;
    font-size:var(--text-sm);
    color: var(--gray-300);
    transition: color var(--theme-transition),background-color var(--theme-transition);
   }
   .menu-link-nav a:hover{
    background: var(--accent-subtle-overlay);
   }
   .menu-link-nav a.active{
    background-color: var(--accent-regular);
    color: var(--accent-text-over);
   }

  /* .menu-link-nav */
  
   @media (min-width: 50em) {
    .menu-link-nav{
    background: #ead5f285;
    padding: 1.7rem 0rem 1.7rem 0rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
    flex-direction:column;
    margin-left: 0.5rem;
    left:0;
    bottom: 0;
    height: fit-content;
   }

   .menu-link-nav a{
    padding: 0.5rem 1rem;
    border-radius: 999rem;
    display: flex;
    font-size:var(--text-sm);
    color: var(--gray-300);
    transition: color var(--theme-transition),background-color var(--theme-transition);
   }
   .menu-link-nav a:hover{
    background: var(--accent-subtle-overlay);
   }
   .menu-link-nav a.active{
    background-color: var(--accent-regular);
    color: var(--accent-text-over);
   }
  }
</style>