---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"widgetCss">;
}

const { data } = Astro.props.project;
---

<article class="portfolio_item">
    <a href={data.href}>
        <div class="portfolio_item-image">
            <img src={data.img} alt={data.img_alt || ''} loading="lazy" decoding="async">
        </div>
    </a>
	
	<a href={data.href}><h5>{data.title}</h5></a>
    <div><p>{data.description}</p></div>

</article>

<style>
  .Work-grid img {
    width: 100%;
  }
  .portfolio_item {
    background: var(--gradient-stroke);
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    border-color: transparent;
    transition: var(--theme-transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .portfolio_item:hover {
    background: transparent;
    border: 3px solid aliceblue;
  }
  .portfolio_item-image {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin: 0rem 1rem;
  }
  .portfolio_item h3 {
    padding: 1.2rem 0.2rem;
  }
  .portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
</style>
